
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style*/
.display-flex{
    display: flex;
}
.text-gray{
    color: #727272;
}
.primary-btn{
    font-size: 1.8rem;
    background:#FF900E;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    padding: 20px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}


/* Hrader Section  */

.nav-items{
    list-style: none;
}
.nav-links{
    margin-left: 20px;
    text-decoration: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.bg-1{
    background-color: #FFF4E7;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-text{
    text-align: center;
    margin: 0 auto;
    max-width: 850px;
    margin-bottom: 50px;
}
.banner-text h1{
    font-size: 4rem;
}
.brand{
    font-size: 2.8rem;
}



/* Quick Content Section */
.quick-content{

}
.quick-list-feater{
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    width: 100%;
}
.quick-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.quick-content{
    margin-left: 70px;
}
.quick-content h2{
    font-size: 2.8rem;
}


/* Some Fact Section */
.some-fact{
    
}
.some-fact h3{
    font-size: 3rem;
}
.some-fact p{

}
.card-section{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    margin: 0 auto;
}
.card{
    border: 1px solid #FF900E;
    height: 250px;
    width: 250px;
    text-align: center;
    align-items: center;
    padding: auto;
    justify-content: center;
    border-radius: 8px;
}
.another{
    margin-top: 50px;
}


/* Ferater Section */
.what-if{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 80px;
}
.feater-section h3{
    font-size: 4rem;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    
}
.f-card{
    
    padding: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.096);
    margin-bottom: 20px;

}
.feter-card{

}
.tenyer{
    font-size: 4rem;
}
.Experience{
    font-size: 1.8rem;
}
.altar{
    padding: 30px;
    margin-top: -100px;
    margin-left: -70px;
}


/* Sponcer Section */
.sponcer-section{
    max-width: 540px;
}
.sponcer-section h3{
    font-size: 3rem;
}
.sponcer-section p{
    margin-top: -15px;
}
.sponcer-img{
    display: grid;
    grid-template-columns: repeat(5, 5fr);
}
.sponcer-img img{
    margin: 20px 70px;
    filter: grayscale(100%);
}


/* Footer Section */
.copyright{
    background: #e68d2931;
    
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    width: 100%;
}
.copyright p{
    text-align: center;
    font-size: 1.8rem;
}






/* Responcive Parts */
@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
}